{% extends 'layouts/main.twig' %}

{% block content %}
<div class="container">
    <form id="gameForm" class="{% block formClass %}{% endblock %}" method="post" action="{% block formAction %}/games/{{ game.idjeu }}/select/players{% endblock %}">
        <fieldset>
            <legend>
                <a href="http://nico.deboo.fr/iphone_viewgame.php?idj={{ game.idjeu }}">
                    <img class="game_thumbnail" src="{{ game.thumbnail|image('game_thumbnail') }}" />
                </a>
                {{ game.jeu }}
            </legend><br/>
            {% block formContent %}
            {% endblock %}
      </fieldset>
    </form>
    {% block footer %}
    {% endblock %}
</div>
{% endblock %}