{% extends 'layouts/main.twig' %}

{% block content %}
<div class="container">
    <div class="row">
       <div class="span9">
            <form class="form-inline" action="search" method="post">
                <div class="control-group">
                    <div class="controls">
                        <div class="input-prepend">
                            <span class="add-on"><i class="icon-search"></i></span>
                            <input class="span2" id="inputIcon" type="text" name="q">
                        </div>
                        <button type="submit" class="btn">Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
        
    <div class="row">
        <div class="span9">
            <table class="table letters table-bordered">
                <tr>
                      <td><a href="searchByLetter/A">A</a></td>
                      <td><a href="searchByLetter/B">B</a></td>
                      <td><a href="searchByLetter/C">C</a></td>
                      <td><a href="searchByLetter/D">D</a></td>
                      <td><a href="searchByLetter/E">E</a></td>
                </tr><tr>
                      <td><a href="searchByLetter/F">F</a></td>
                      <td><a href="searchByLetter/G">G</a></td>
                      <td><a href="searchByLetter/H">H</a></td>
                      <td><a href="searchByLetter/I">I</a></td>
                      <td><a href="searchByLetter/J">J</a></td>
                </tr>
                </tr><tr>
                      <td><a href="searchByLetter/K">K</a></td>
                      <td><a href="searchByLetter/L">L</a></td>
                      <td><a href="searchByLetter/M">M</a></td>
                      <td><a href="searchByLetter/N">N</a></td>
                      <td><a href="searchByLetter/O">O</a></td>
                </tr>
                </tr><tr>
                      <td><a href="searchByLetter/P">P</a></td>
                      <td><a href="searchByLetter/Q">Q</a></td>
                      <td><a href="searchByLetter/R">R</a></td>
                      <td><a href="searchByLetter/S">S</a></td>
                      <td><a href="searchByLetter/T">T</a></td>
                </tr>
                </tr><tr>
                      <td><a href="searchByLetter/U">U</a></td>
                      <td><a href="searchByLetter/V">V</a></td>
                      <td><a href="searchByLetter/W">W</a></td>
                      <td><a href="searchByLetters/X/Y">XY</a></td>
                      <td><a href="searchByLetters/Z/09">Z#</a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
{% endblock %}